* {
  margin: 0;
}
body::-webkit-scrollbar {
  width: 15px;
  background-color: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ad6d98;
}

body{
  background-image: url(./image/background/רקע.jpg) ;

 
}