 section {
    flex-wrap: wrap;
    width: 80%;
    height: 10%;
    margin-left: 10%;
  } 
.modal{
    display: contents !important;
    margin-left: 30%;
    
  }
.cards{
  flex-wrap: wrap;
  display:flex
}
.gift-wrap > i{
    background-color: black;
    border: hidden;
    
}
.row{
    display: flex;
  flex-wrap: wrap; 
  width: 100%;
  height: 100%;
  display: grid;
  grid-area:auto;
  display:inline-block;
  flex-direction: "row"; 
}
.gift-wrap{
  cursor: pointer;
  flex-direction: "row";
}
.modal {
  display: none; 
}
.rodal.rodal-fade-enter {
  background-color: transparent;
}
